<div class="container">
<div class="row">    
    <div class="col-sm-6">
        <h1> JSON Input </h1>
        <div class="form-group">
            <label for="comment">JSon</label>
            <form action="index.php" method="post">
                <textarea class="form-control" rows="20" id="json" name="json"></textarea>
                <input type="submit">
            </form>
        </div>
    </div>
    
    <div class="col-sm-6">
    <h1>RDF FORM Output</h1>
    <!-- the form container -->
    <form action="#" class="form-horizontal rdform" role="form"></form>
    </div>
</div>
<div class="row" id="Output">
    
    <h1> Ausgabe </h1>

    <div class="col-sm-6" id="json-ld">
    </div>

    <div class="col-sm-6" id="turtle">
    </div>
</div>
</div>


