<form prefix="n0 http://vsb.leipert.io/ns/">
<legend>Grandchild</legend>
<div typeof="n0:Person"  id="Grandchild" resource="Grandchild">
<label>Ancestor</label>
<input name="n0:ancestor" type="resource"  value="Parent"  >
</div>
<legend>Parent</legend>
<div typeof="n0:Person"  id="Parent" resource="Parent">
<label>Ancestor</label>
<input name="n0:ancestor" type="resource"  value="Grandparent"  >
</div>
<legend>Grandparent</legend>
<div typeof="n0:Person"  id="Grandparent" resource="Grandparent">
<label>Age</label>
<input name="n0:age" type="literal" >
</div>
</form>
