<form prefix="n0 http://vsb.leipert.io/ns/ n2 http://www.w3.org/2000/01/rdf-schema#">
<legend>Person</legend>
<div typeof="n0:Person">
<label>Label</label>
<input name="n2:label" type="literal" >
<label>Name</label>
<input name="n0:name" type="literal" >
<label>Birth Date</label>
<input name="n0:birthDate" type="literal" placeholder="JJJJ-MM-DD">
<label>Age</label>
<input name="n0:age" type="literal" >
<label>owns</label>
<input name="n0:keeps" type="resource" value="n0:Pet"  >
</div>
<legend>Pet</legend>
<div typeof="n0:Pet">
<label>Name</label>
<input name="n0:name" type="literal" >
</div>
</form>
